@font-face {
	font-family: 'Minecraft';
	src: url('mc-font/Minecraft.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	border: none;
}

html, body {
	height: 100%;
}

body {
	font-family: Minecraft, Helvetica, sans-serif;
	color: #e0e0e0;
	background-color: black;
}

#background {
	background: url('/assets/mc_dirt_background.png') repeat;
	background-size: cover;
	min-height: 100%;
	width: 100%;
}

#content {
	max-width: 550px;
	margin: auto;

	padding: 40px;
}

section {
	margin-bottom: 60px;
}

h1 {
	margin-bottom: 40px;
}

h3 {
	color: #a0a0a0;
	margin-bottom: 10px;
}

.mc-input {
	margin-bottom: 10px;
	padding: 11px 8px 8px 8px;
	font-size: 18px;
	border: 2px solid #a0a0a0;
	background-color: black;

	color: #e0e0e0;
}

.mc-button {
	text-align: center;
}

.mc-button > button {
	display: inline-block;
	cursor: pointer;
	padding: 11px 40px 8px 40px;
	font-family: inherit;
	color: inherit;
	font-size: 22px;
	text-shadow: 2px 2px #00000080;

	border: 2px solid #aaaaaa;
	border-bottom: 4px solid #00000060;
	border-right: 2px solid #00000060;
	background-image: url('/assets/mc_button_texture.png');

	outline: 2px solid black;
}

.mc-button > button:hover {
	outline: 2px solid white;
}




img {
	max-width: 100%;
	max-height: 100%;
}

#overview-link {
	transition: transform .15s;
}

#overview-link:hover {
	transform: scale(1.1);
}

.footnote {
        position: fixed;
        right: 0;
        bottom: 0;
        text-align: right;

        opacity: 0.1;
        transition: opacity .15s;
}

.footnote:hover {
        opacity: 0.3;
}

a:link {
        color: inherit;
}

.mc-tooltip {
        position: fixed;

        transition: opacity 0.5s;

        padding: 5px;
        font-color: white;
        background-color: #100010F0;
        border: 2px #180034F5 solid;
        box-shadow:     2px 0px 0px 0px #100010F0,
                        0px 2px 0px 0px #100010F0,
                        -2px 0px 0px 0px #100010F0,
                        0px -2px 0px 0px #100010F0;
}


.listing {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
}

figcaption {
        margin-top: 12px;
        margin-bottom: 25px;
        text-align: center;
}

