<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="keywords" content="Minecraft, Westfälische Hochschule, AStA, WHS, WH, Server, Spiel, Game"/>
	<meta name="description" content="Die offizielle Homepage des WHS Minecraft Servers"/>
	<title>WHS Minecraft Server</title>
	<link rel="icon" href="/favicon.png" type="image/png"/>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" href="/blog_style.css"/>
<style>
	#overview-link {
		transition: transform .15s;
	}

	#overview-link:hover {
		transform: scale(1.1);
	}

	.footnote {
		position: fixed;
		right: 0;
		bottom: 0;
		text-align: right;

		opacity: 0.1;
		transition: opacity .15s;
	}

	.footnote:hover {
		opacity: 0.3;
	}

	.listing {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	figcaption {
		margin-top: 12px;
		margin-bottom: 25px;
		text-align: center;
	}
</style>
</head>
<body>
	<header>
		<a href="/">
			<img src="/assets/Title.png"/>
		</a>
	</header>
	<main>
		<section>
			<h3>Spiel mit!</h3>
			<input class="mc-input" readonly value="whsminecraft.de"/>
			<div class="center">
				<button class="mc-button" onclick="addressClick(this);" data-tooltip="Adresse kopiert! Du kannst sie nun im Spiel einfügen.">
					Server beitreten
				</button>
			</div>
		</section>
		<section>
			<h3>Ankündigungen</h3>
			<nav>
				{{> blog_entry}}
				<a class="news_more" href="/news/">
					<span class="news_more_symbol">&#x25bc; Mehr</span>
				</a>
			</nav>
		</section>
		<section>
			<h3>Unsere Weltkarte</h3>
			<a href="/map/">
				<img id="overview-link" src="/assets/mc_map.png"/>
			</a>
		</section>
		<section>
			<h3>Links</h3>
			<div class="flex flex-column">
				<a class="mc-button" href="/about/">
					Über den Server / FAQ
				</a>
				<a class="mc-button" href="/server_list/">
					Server-Liste
				</a>
			</div>
		</section>
		<section>
			<h3>Team</h3>
			<div class="listing">
				<figure>
					<img src="/assets/playerheads/Trollesch.png"/>
					<figcaption>Trollesch</figcaption>
				</figure>
				<figure>
					<img src="/assets/playerheads/DReamPac.png"/>
					<figcaption>DReamPac</figcaption>
				</figure>
			</div>
		</section>
		<footer>
			<h3>Ein Projekt vom</h3>
			<img src="/assets/asta_white.svg" style="padding: 0 10% 1% 10%; width: 80%;"/>
			<div class="listing">
				<a class="external" href="https://www.asta-wh.de/impressum/">Impressum</a>
				<a class="external" href="https://www.asta-wh.de/datenschutz/">Datenschutz</a>
			</div>
		</footer>
	</main>
	<div class="footnote">
		<a href="mailto:webmaster@whsminecraft.de">webmaster@whsminecraft.de</a>
	</div>
	<div id="tooltip-anchor"></div>
	<script src="/interactive.js"></script>
	<script>
		function addressClick(btn) {
			const t = document.createElement('textarea');
			t.innerText = 'whsminecraft.de';
			document.body.appendChild(t);
			t.select();
			document.execCommand('copy');
			document.body.removeChild(t);

			showTooltip('Adresse kopiert! Du kannst sie nun im Spiel einfügen.', btn);
			fadeTooltipIn(3000);
		}
	</script>
</body>
</html>
