<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="keywords" content="Minecraft, Westfälische Hochschule, AStA, WHS, WH, Server, Spiel, Game"/>
	<meta name="description" content="Die offizielle Homepage des WHS Minecraft Servers"/>
	<title>WHS Minecraft Server</title>
	<link rel="icon" href="/favicon.png" type="image/png"/>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" href="/blog_style.css"/>
<style>
	#overview-link {
		transition: transform .15s;
	}

	#overview-link:hover {
		transform: scale(1.1);
	}

	.listing {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	figcaption {
		margin-top: 12px;
		margin-bottom: 25px;
		text-align: center;
	}
</style>
</head>
<body>
	<header>
		<a href="/">
			<img src="/assets/Title.png"/>
		</a>
	</header>
	<main>
		<section>
			<h3>Spiel mit!</h3>
			<input class="mc-input" readonly value="whsminecraft.de"/>
			<div class="mc-button-row">
				<a class="mc-button pixel" href="/start/">
					Spiel mit!
				</a>
			</div>
		</section>
		<section>
			<h3>Ankündigungen</h3>
			<nav>
				{{> blog_entry}}
				<a class="news_more" href="/news/">
					<span class="news_more_symbol">&#x25bc; Mehr</span>
				</a>
			</nav>
		</section>
		<section>
			<h3>Unsere Weltkarte</h3>
			<a href="/map/">
				<img id="overview-link" src="/assets/mc_map.png"/>
			</a>
		</section>
		<section>
			<h3>Links</h3>
			<div class="mc-button-list">
				<a class="mc-button pixel" href="/about/">
					Über den Server / FAQ
				</a>
				<a class="mc-button pixel" href="/server_list/">
					Server-Liste
				</a>
				<a class="mc-button pixel external" href="https://discord.gg/gUK49Vt5t8">
					Discord-Server
				</a>
			</div>
		</section>
		<section>
			<h3>Team</h3>
			<div class="listing">
				<figure>
					<img src="/assets/playerheads/Trollesch.png"/>
					<figcaption>
						<h2 data-tooltip="Ruben">Trollesch</h2>
						<div>Administration</div>
					</figcaption>
				</figure>
				<figure>
					<img src="/assets/playerheads/DReamPac.png"/>
					<figcaption>
						<h2 data-tooltip="Silas">DReamPac</h2>
						<div>Moderation</div>
					</figcaption>
				</figure>
				<figure>
					<img src="/assets/playerheads/jojotauby.png"/>
					<figcaption>
						<h2 data-tooltip="René">jojotauby</h2>
						<div>AStA Kultur</div>
					</figcaption>
				</figure>
			</div>
		</section>
		<footer>
			<h3>Ein Projekt vom</h3>
			<a href="https://www.asta-wh.de/">
				<img src="/assets/asta_white.svg" style="padding: 0 10% 1% 10%; width: 80%;"/>
			</a>
			<div class="listing">
				<a class="external pixel" href="https://www.asta-wh.de/impressum/">Impressum</a>
				<a class="external pixel" href="https://www.asta-wh.de/datenschutz/">Datenschutz</a>
			</div>
		</footer>
	</main>
	<script src="/background.js"></script>
	<script src="/interactive.js"></script>
</body>
</html>
