<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="keywords" content="Minecraft, Westfälische Hochschule, AStA, WHS, WH, Server, Spiel, Game"/>
	<meta name="description" content="Die offizielle Homepage des WHS Minecraft Servers"/>
	<title>WHS | Server-Netzwerk</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
</head>
<body>
	<header>
		<a href="/">
			<img src="/assets/Title.png"/>
		</a>
	</header>
	<main>
		<h1>Server-Netzwerk</h1>
		{{#servers}}
		<section>
			<div class="server-header">
				<h2>{{ name }}</h2>
				{{^is_online}}
				<img src="/assets/server_no_connection.png" style="height: 20px; image-rendering: crisp-edges;"/>
				{{/is_online}}

				{{#is_online}}
				<div>
				{{ players_online }} <span style="color: #808080">/</span> {{ players_max }}
				</div>
				{{/is_online}}
			</div>
			<input class="mc-input" readonly value="{{ url }}"/>
			<p>{{ description }}</p>
		</section>
		{{/servers}}
	</main>
</body>
</html>
